<div class = "">
    <div *ngFor = "let quote of quotes; let i = index">
        <div class = "w3-container">
            <div>
                <div class = "w3-card qa-card w3-padding">
                    <div class = "w3-row">
                        <div class = "w3-right">
                            <i id = "qa-del-btn" (click) = 'deleteQuote(i)' class="fas fa-trash-alt"></i>
                            <span class="tooltiptext">Delete</span>
                        </div>
                    </div>
                    <div>
                        <p>"{{ quote.quoteText }}" - {{ quote.quoteAuthor | titlecase}}</p>
                    </div>
                    <app-quote-detail [quote]='quote' (downvoted) = "downVote(i)" (upvoted)="upVote(i)"></app-quote-detail>
                </div>    
            </div>
        </div>
    </div>
    <div *ngIf = "quotes.length === 0" class = "w3-container">
        <div class = "w3-card qa-card w3-padding">
            <p>You have no quotes. Add new below.</p>
        </div>
    </div>
    <app-quote-form (addQuote) ="addNewQuote($event)"></app-quote-form>
</div>