<div class = "card">
    <form class = "w3-margin">
        <div class = "w3-row-padding">
            <div class = "w3-half">
                <input type = "text" class = "w3-input qa-input" placeholder = "Author" name = "author">
            </div>
            <div class = "w3-half">
                <input type = "text" class = "w3-input qa-input" placeholder = "Posted By" name = "poster">
            </div>
        </div>
        <div class = "w3-row-padding w3-padding">
            <textarea type = "text" class = "w3-input qa-input" placeholder = "Quote" name = "quote" style="resize:none;"></textarea>
        </div>
        <div class = "w3-row-padding w3-padding">
            <button type = "submit" class = "w3-button w3-border w3-border-black w3-right" style = "margin-bottom: 15px;">SUBMIT</button>
        </div>
    </form>
</div>